.wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    gap: 4rem;
}

.card {
    display: flex;
    align-items: center;
    width: 75vw;
    max-width: 650px;
    padding: 50px 30px 50px 20px;
    background: #EEEEEE;
    border-radius: 24px;
  }
  
  .card img {
    max-width: 280px;
    width: 28vw;
    height: 300px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 30px;
    border-radius: inherit;
    box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
  }
  
  .card h2 {
    font-size: 22px;
    margin-right: 30px;
    color: black;
  }
  
  .card h3 {
    font-size: 16px;
    font-weight: 400;
    color: rgb(0 0 0 / 90%);
  }
  
  .card p {
    font-size: 14px;
    font-weight: 400;
    color: rgb(0 0 0 / 70%);
    margin-bottom: 24px;
  }
  
  .card button {
    border: 0;
    background: #00adb5;
    color: #f8f8f8;
    font-family: inherit;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 30px;
    margin: .5rem; 
  /* Change the margin for flex later for more responsive */
  }
  .card button:hover {
    background: #00747a;  
    cursor: pointer;
  }

  
  @media (width <= 740px) {
    .wrap {
        flex-direction: column;
    }
    .card {
      margin: 0 40px;
      padding-left: 50px;
      padding-right: 50px;
      width: 100%;
      text-align: center;
      flex-direction: column;
    }
  
    .card h2 {
      margin-right: 0;
      font-size: 26px;
    }
  
    .card img {
      margin: -100px 0 30px 0;
      width: 100%;
      max-width: 1000px;
    }
  }